# PREDIKSI WIN/LOSS DRAFT PICK MOBILE LEGENDS

##### Jadi untuk teknisnya, kalau yang win merupakan blue team, berarti value baru di kolom win/loss yaitu : win, kalau yang win berasal dari red team, berarti value baru di kolom win/loss yaitu : loss. Kolom win/loss ini pun dibuat baru untuk mempermudah prediksi

# BERSIHIN DATA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(color_codes=True)

In [2]:
df = pd.read_csv('Mobile Legends Professional League.csv')

In [3]:
#Create a new column 'win/lose' based on the conditions
df['win/loss'] = df.apply(lambda row: 'win' if row ['win'] == row['blue'] else 'loss', axis=1)
df.head()

,date,game,blue,red,time,win,mvp,pick_blue_1,pick_blue_2,pick_blue_3,...,pick_red_2,pick_red_3,pick_red_4,pick_red_5,ban_red_1,ban_red_2,ban_red_3,ban_red_4,ban_red_5,win/loss
0,1/1/2023,1,BLCK,INC,12.37,BLCK,valentina,benedetta,valentina,kadita,...,guinevere,lunox,beatrix,atlas,pharsa,wan_wan,gloo,diggie,estes,win
1,1/1/2023,2,MVG,MDH,16.03,MVG,karrie,gloo,fredrinn,yve,...,ling,faramis,claude,chou,kaja,wan_wan,hayabusa,beatrix,brody,win
2,1/1/2023,3,INC,FCON,14.28,INC,fredrinn,khaleed,fredrinn,pharsa,...,ling,faramis,irithel,lolita,gloo,kaja,grock,lunox,yve,win
3,1/1/2023,4,TDK,MVG,11.46,TDK,popol_kupa,lapu_lapu,hayabusa,valentina,...,fredrinn,pharsa,karrie,chou,gloo,fanny,joy,beatrix,brody,win
4,1/1/2023,5,FCON,BURN,20.21,FCON,harith,fredrinn,fanny,yve,...,ling,faramis,harith,grock,gloo,kaja,grock,lunox,yve,win

### DROP KOLOM-KOLOM YANG TIDAK AKAN DIGUNAKAN SEPERTI HERO YANG DI BAN, WAKTU MATCH, MVP, BLUE AND RED TEAM

In [4]:
df.drop(columns=['date', 'game', 'blue', 'red', 'time', 'win', 'mvp',
                 'ban_blue_1', 'ban_blue_2', 'ban_blue_3', 'ban_blue_4', 'ban_blue_5',
                 'ban_red_1', 'ban_red_2', 'ban_red_3', 'ban_red_4', 'ban_red_5'], inplace=True)
df

,pick_blue_1,pick_blue_2,pick_blue_3,pick_blue_4,pick_blue_5,pick_red_1,pick_red_2,pick_red_3,pick_red_4,pick_red_5,win/loss
0,benedetta,valentina,kadita,karrie,kaja,yu_zhong,guinevere,lunox,beatrix,atlas,win
1,gloo,fredrinn,yve,karrie,lolita,lapu_lapu,ling,faramis,claude,chou,win
2,khaleed,fredrinn,pharsa,wan_wan,estes,joy,ling,faramis,irithel,lolita,win
3,lapu_lapu,hayabusa,valentina,popol_kupa,kaja,uranus,fredrinn,pharsa,karrie,chou,win
4,fredrinn,fanny,yve,karrie,mathilda,lapu_lapu,ling,faramis,harith,grock,win
...,...,...,...,...,...,...,...,...,...,...,...
262,lapu_lapu,lancelot,pharsa,karrie,kufra,arlott,fredrinn,yve,beatrix,chou,win
263,gloo,lancelot,pharsa,harith,lolita,arlott,fredrinn,yve,brody,rafaela,win
264,gloo,baxia,pharsa,karrie,faramis,lapu_lapu,fredrinn,yve,beatrix,grock,loss
265,joy,akai,yve,beatrix,chou,arlott,fredrinn,pharsa,karrie,mathilda,win
266,gloo,fredrinn,valentina,karrie,faramis,yu_zhong,lancelot,yve,harith,valir,loss

### TAMPILKAN SEMUA UNIQUE VALUE DARI HASIL DRAFT PICK KEDUA TIM

In [5]:
#Extract unique values from the first to the 10th columns
unique_values_combined = set(df.iloc[:, :10].values.flatten())

#Display the combined unique values
print(list(unique_values_combined))

['natalia', 'yu_zhong', 'gloo', 'kufra', 'minsitthar', 'leomord', 'zilong', 'lapu_lapu', 'kaja', 'lolita', 'faramis', 'kadita', 'cecilion', 'masha', 'grock', 'natan', 'valentina', 'alice', 'akai', 'esmeralda', 'franco', 'pharsa', 'paquito', 'guinevere', 'eudora', 'lunox', 'aamon', 'melissa', 'rafaela', 'helcurt', 'irithel', 'edith', 'baxia', 'mathilda', 'gusion', 'granger', 'luo_yi', 'ling', 'selena', 'thamuz', 'dyrroth', 'clint', 'martis', 'hanzo', 'yve', 'hayabusa', 'angela', 'fanny', 'xavier', 'estes', 'diggie', 'khaleed', 'benedetta', 'kagura', 'valir', 'floryn', 'beatrix', 'aldous', 'chou', 'lesley', 'moskov', 'lancelot', 'popol_kupa', 'hilda', 'fredrinn', 'phoveus', 'atlas', 'joy', 'harith', 'terizla', 'barats', 'claude', 'karrie', 'uranus', 'julian', 'yi_sun_shin', 'brody', 'wan_wan', 'arlott', 'lylia', 'karina', 'jawhead', 'ruby']

### LAKUKAN LABEL ENCODING UNTUK KE 10 KOLOM DRAFT PRICK HERO

In [6]:
#Manual label encoding mapping
label_encoding_mapping = {value: index + 1 for index, value in enumerate(unique_values_combined)}

#Apply label encoding to all columns
df_encoded = df.apply(lambda col: col.map(label_encoding_mapping) if col.name in df.columns[:10] else col)

#Display the DataFrame with label encoding applied
df_encoded

,pick_blue_1,pick_blue_2,pick_blue_3,pick_blue_4,pick_blue_5,pick_red_1,pick_red_2,pick_red_3,pick_red_4,pick_red_5,win/loss
0,53,17,12,73,9,2,24,26,57,67,win
1,3,65,45,73,10,8,38,11,72,59,win
2,52,65,22,78,50,68,38,11,31,10,win
3,8,46,17,63,9,74,65,22,73,59,win
4,65,48,45,73,34,8,38,11,69,15,win
...,...,...,...,...,...,...,...,...,...,...,...
262,8,62,22,73,4,79,65,45,57,59,win
263,3,62,22,69,10,79,65,45,77,29,win
264,3,33,22,73,11,8,65,45,57,15,loss
265,68,19,45,57,59,79,65,22,73,34,win
266,3,65,17,73,11,2,62,45,69,55,loss

# HASIL PREDIKSI

### HASIL PREDIKSI MENGGUNAKAN DECISION TREE CLASSIFIER

In [7]:
# Import library yang dibutuhkan
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Load dataset
iris = load_iris()
X, y = iris.data, iris.target

# Membagi dataset menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Inisialisasi model Decision Tree
dtree = DecisionTreeClassifier()

# Melatih model menggunakan data latih
dtree.fit(X_train, y_train)

# Melakukan prediksi pada data uji
y_pred = dtree.predict(X_test)

# Menghitung dan menampilkan skor akurasi
print("Accuracy Score :", round(accuracy_score(y_test, y_pred) * 100, 2), "%")

Accuracy Score : 100.0 %